<section class="address">
    <header id="address-header">
        <h2>Our Head Office</h2>
    </header>
    <address>
        C-309, Shailesh Vihar Apartment<br>SVP Road <br>Borivali West
    </address>
</section>
<section id="support">
    <header id="support-header">
        <h2>Support</h2>
    </header>
    <ul>
        <li>Email Us</li>
        <li>Contact US</li>
        <li>Raise a ticket</li>
        <li>Others</li>
    </ul>
</section>
<section id="socials">
    <header id="social-header">
        <h2>Our Social Media</h2>
    </header>
    <div id="logos-social-media">
        <a href="https://www.instagram.com/harshvaghanii/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/harshvaghani" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/harshvaghanii/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
</section>