<div class="hamburger" onclick="hamMenu()">
    <div class="line" id="line1"></div>
    <div class="line" id="line2"></div>
    <div class="line" id="line3"></div>
</div>
<div class="logo">
    <img src="../../Images/main-logo.jpeg" alt="Company Logo" id="logo-img">
    <a href="/">
        <h2>Vaghani's Kitchen</h2>
    </a>
</div>
<div class="nav-items" id="myLinks">
    <ul id="nav-link-ul" class="open">
        <li><a href="/#cuisines">Cuisines</a></li>
        <li><a href="/#locations">Locations</a></li>
        <li><a href="/form">Sign Up</a></li>
    </ul>
</div>