<!DOCTYPE html>
<html lang="en">

<head>{{>header}}</head>

<body>
    <header class="page-header">
        <nav class="navigation-bar">{{>navbar}}
            {{!-- <div class="logo">
                <img src="../Images/main-logo.jpeg" alt="Company Logo" id="logo-img">
                <h2>Vaghani's Kitchen</h2>
            </div> --}}
            <!-- <div class="nav-items">
                <ul>
                    <li><a href="/Food Website/index.html">Cuisines</a></li>
                    <li><a href="#locations">Locations</a></li>
                    <li><a href="">Log In</a></li>
                </ul>
            </div> -->
        </nav>
    </header>


    <!-- Form Section -->

    <form action="/form" method="post">
        <div class="form-element">
            <h1 id="form-heading">Register</h1>
        </div>
        <div class="input-fields-container">
            <div class="form-element">
                <input type="text" name="username" id="username" placeholder="Username" class="input-element" required
                    autofocus>
            </div>
            <div class="form-element">
                <input type="email" name="email" id="email" placeholder="Email" class="input-element"
                    class="input-element" required>
            </div>
            <div class="form-element">
                <input type="password" name="password" id="password" placeholder="Password" class="input-element"
                    required>
            </div>
            <div class="form-element">
                <input type="password" name="confirmpassword" id="confirm-password" placeholder="Confirm Password"
                    class="input-element" required>
            </div>
        </div>
        <div class="form-element">
            <button type="submit" id="register-button">Register</button>
        </div>
    </form>

    <!-- Footer Section -->

    <footer>{{>footer}}</footer>

</body>
<script src="https://kit.fontawesome.com/260d458d63.js" crossorigin="anonymous"></script>

</html>